Packing.Pallet/obj/
Packing.Pallet/bin/
Packing.Model/bin/
Packing.Model/obj/
Packing.Label/bin/
Packing.Label/obj/
Packing.Testing/bin/
Packing.Testing/obj/
Packing.Convertion/bin/
Packing.Convertion/obj/